html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.logo-link {
    text-decoration: none;
    font-size: 1.8rem;
    color: #333;
    font-weight: bold;
    display: inline-block;
}

.logo-image {
    max-width: 65px;
    height: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 8px 16px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    display: inline-flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.dropbtn i {
    margin-right: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
    border-radius: 5px;
    padding: 10px 0;
    top: 100%;
    right: 0;
}

.dropdown-content a {
    color: #333;
    padding: 12px 25px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #2980b9;
}

.logo-link:hover {
    color: #3498db;
    text-decoration: underline;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

.container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.password-change-card {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    height: 530px;
}

.title-changepassword {
    font-size: 1.3em;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 10px;
    background: linear-gradient(to right, #000000, #2f2f2f, #4b4b4b, #696969, #808080);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.title-changepassword i {
    margin-left: 7px;
}

.title-changepassword::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    background-color: #3498db;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}

.title-changepassword:hover::after {
    transform: scaleX(1);
}

.profile-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.details {
    flex-grow: 1;
    margin-left: 20px;
}

.details h3 {
    margin: 0;
    font-size: 1.3rem;
    color: #333;
}

.details p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
}

.details p i {
    margin-right: 5px;
}

.status {
    color: green;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 1rem;
    color: #333;
    margin-bottom: 8px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.input-group input:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-submit {
    background-color: #3498db;
    color: white;
    padding: 12px 30px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.btn-submit:hover {
    background-color: #2980b9;
}

#notification {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 15px;
    z-index: 10000;
    display: none;
    align-items: center;
    min-width: 200px;
    transition: opacity 0.5s ease, transform 0.3s ease;
}

#notification.show {
    display: flex;
}

#notification.success {
    background-color: #22cd19;
    border: 2px solid #23cb4a;
    color: #ffffff;
}

#notification.error {
    background-color: rgb(221, 53, 53);
    border: 2px solid rgb(221, 53, 53);
    color: #ffffff;
}

#notification .icon {
    margin-right: 6px;
    font-size: 24px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
    border-top: 1px solid #e0e0e0;
    width: 100%;
}

footer a {
    color: #3498db;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}